<h1>Pages#index</h1>
<p>Find me in app/views/pages/index.html.erb</p>

<input type="text" value="0" name ="red" class="dial">
<input type="text" value="0" name ="green" class="dial">
<input type="text" value="0" name ="blue" class="dial">

<h1>
	RGB(<span class="colors" id="red">0</span>, <span class="colors"  id="green">0</span>, <span class="colors" id="blue">0</span> )
</h1>
<div class="cuadrado"></div>

<style>
	.cuadrado{
		height: 300px;
		width: 600px;
		border: 1px solid black;
	}
</style>

<script>
	$(document).on('turbolinks:load', function(){
		 $(".dial").knob({
		 	'min':0,
		 	'max':255,
		 	'change' : function (v) {
		 		$("span#"+this.$.attr('name')).html(parseInt(v));
		 	
			 	red =$("#red").html();
			 	green =$("#green").html();
			 	blue =$("#blue").html();
			 	$(".cuadrado").css("background-color", "rgb("+red+","+green+","+blue+")");
			 }
		 });
	});
</script>

